<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Vazirmatn:wght@100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Ilya API</title>
</head>

<body>
  <div class="container">
    <h1>Hello i'm ilya<br>And this is my first API project with "axios"</h1>

    <form action="/" id="form" class="form" method="POST">
      <select name="type" class="form-select">
        <option value="usd">USD</option>
        <option value="euro">EURO</option>
      </select>

      <button type="submit" class="form-submit">Search</button>
    </form>

    <section id="cards" class="cards">
      <% if (locals.data) { %>
        <article class="card-item">
          <h2 class="card-activity">
            <%= data.name %>
          </h2>
          <div class="card-info">
            <span class="card-type">
              <%= data.time %>
            </span>
            <span class="card-participants">
              Price: <%= data.price %>
                <span class="card-number"></span>
            </span>
          </div>
        </article>
        <% } %>

          <% if (locals.error) { %>
            <div id="tag-error" class="tag-error">
              <%= error %>
            </div>
            <% } %>
    </section>
  </div>
</body>

</html>